.catalog__wrapper {
  @include fields;
}

.catalog__item {
  border-top: 1px solid #ededed;

  padding: 24px 0;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__title {
  @include title;
  @include fields;

  font-weight: 400;
  color: $black-title;

  margin: 34px 0 42px;
}


@media (min-width: $tablet-width) {
  .catalog__title {
    @include title(60px, 60px);
    @include fields(30px, 30px);
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    // @include fields(30px, 30px);
  }

  .catalog__item {
    max-width: 324px;
    height: auto;
    margin: 60px 30px 80px;
    border-top: none;

    padding: 40px 0;
    // &:nth-child(even) {
    //   margin-right: 0;
    // }

    // &--no-indent {
    //   margin-bottom: 0;
    // }
  }
}


@media (min-width: $desktop-width) {
  .catalog__title {
    max-width: 1220px;
    margin: 0 auto;
    padding: 85px 0 107px;

    @include title(60px, 60px);
    @include fields(110px, 110px);
  }

  .catalog__wrapper {
    max-width: 1300px;
    margin: 0 auto;

    @include fields(70px, 70px);
  }

  .catalog__item {
    max-width: 245px;
    height: auto;
    margin: 60px 40px 80px;
  }
}
