.extras-action {
  color: $light-title;

  height: 289px;
  background: #72b649 url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-size: cover;

  margin-bottom: 34px;
}

.extras-action__description {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;

  max-width: 160px;
  margin-top: 65px;
}

// Помоги, плиззз...
// Как тут нужно выровнить текст и картинку?
@media (min-width: $tablet-width) {
  .extras-action {
    height: 202px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-bottom: 76px;
  }

  .extras-action__description {
    font-size: 20px;
    text-align: left;

    max-width: 188px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .extras-action {
    display: flex;
    width: 245px;
    height: auto;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-bottom: 0;
    margin-left: 80px;
  }

  .extras-action__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 167px;
    margin-top: 0;
  }
}
