.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 66px;
}

.site-list {
  display: block;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $black-title;
  letter-spacing: 0.5px;

  min-height: 198px;
}

.site-list__item {
  border-top: 1px solid #e6e6e6;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 66px;

    color: $black-title;
    text-transform: uppercase;
    text-decoration: none;
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 570px;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0;

    // width: 570px;
    min-height: 43px;
  }

  .site-list__item {
    border-top: none;
    min-height: 100%;

    a {
      font-size: 20px;
      line-height: 24px;

      width: auto;
      min-height: 100%;

      margin: 0 13px;

      color: $black-title;
    }
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__wrapper {
    width: 975px;
  }

  .site-list {
    font-size: 20px;
  }

  .site-list__item {
    a {
      color: $light-title;
    }
  }
}
