.main-nav {
  position: relative;

  max-width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 66px;
}

.main-nav__toggle {
  display: block;
  width: 24px;
  height: 18px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 570px;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__wrapper {
    width: 975px;
  }
}
