@mixin fields($padding-left: 20px, $padding-right: 20px) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin title($font-size: 36px, $line-height: 60px) {
  font-size: $font-size;
  line-height: $line-height;
}
