.program-form {
  @include fields;
}

.program-form__section {
  border: none;

  margin: 0;
  padding: 0;
}

.program-form__label {
  @include pform-label;
}

.program-form__input {
  @include pform-input;

  &::placeholder {
    color: #444444;
  }
}

.program-form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black-title;
}

.program-form__textarea {
  padding: 16px 13px;
  min-height: 150px;

  width: 100%;
  border: 1px solid #e6e6e6;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  box-sizing: border-box;
}

.program-form__order {
  .button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;

    color: $light-title;
    background-color: $btn-green;

    width: 100%;
    padding: 14px 0;
    margin: 34px 0 25px;
  }
}

.program-form__legend {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;

  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .program-form__label {
    @include pform-label(20px, 20px);
  }

  .program-form__input {
    @include pform-input(20px, 20px);
  }

  .program-form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .program-form__container {
    @include fields(50px, 47px);
  }

  .program-form__textarea {
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__order {
    .button {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .program-form__legend {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    max-width: 1220px;
    margin: 0 auto;
  }

  .program-form__container {
    display: flex;

    .program-form__section {
      width: 570px;

      &:first-child {
        margin-right: 80px;
      }
    }
  }

  .program-form__title {
    font-size: 36px;
    line-height: 36px;
  }
}
