.value {
  text-align: center;
  width: 124px;
  margin-bottom: 20px;
}

.value__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black-title;
  text-transform: uppercase;

  margin: 0;
  padding: 14px 0;

  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.value__comment {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  max-width: 82px;
  margin: -8px auto 0;
  background-color: $bg-grey;
}

@media (min-width: $tablet-width) {
  .value__number {
    font-size: 30px;
    line-height: 37px;
  }

  .value__comment {
    font-size: 14px;
    line-height: 14px;
  }
}
