body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $main-text;
  font-style: normal;

  background-color: $bg-light;
}

img {
  max-width: 100%;
  height: auto;
}
