body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $main-text;
  font-style: normal;

  background-color: $bg-light;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

input[type=radio] + label,
input[type=checkbox] + label {
  position: relative;
  padding: 0 0 0 31px;
  cursor: pointer;
}

input[type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  background: #FFF;
}

input[type=radio] + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #9FD468;
  opacity: 0;
  transition: .2s;
}

input[type=radio]:checked + label:after {
  opacity: 1;
}

input[type=radio]:hover + label:before,
input[type=radio]:focus + label:before {
  content: "";
  border-color: #bcbcbc;
}


input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;

  border: 1px solid #d1d1d1;
}

input[type=checkbox]:hover + label::before,
input[type=checkbox]:focus + label::before {
  content: "";
  border-color: #bcbcbc;
}

input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  color: #9FD468;
}

input[type=checkbox]:active + label::before,
input[type=checkbox]:active + label::after {
  opacity: 0.3;
}
