// Colors text
$light-title: rgba(255, 255, 255, 1);
$light-title-hover: rgba(255, 255, 255, 0.6);
$light-title-down: rgba(255, 255, 255, 0.3);

$black-title: rgba(17, 17, 17, 1);
$black-title-hover: rgba(17, 17, 17, 0.6);
$black-title-down: rgba(17, 17, 17, 0.3);

$main-text: #444444;

// Button color
$btn-green: #68b738;

// Background color
$bg-light: #ffffff;
$bg-grey: #f2f2f2;

// Media
$tablet-width: 768px;
$desktop-width: 1440px;
